.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navBar:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 99;
  align-self: stretch;
}
.section__mLMt {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-bottom: 0px;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__wvxft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.containerProduk:global(.__wab_instance) {
  position: relative;
}
.section__icXf0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__ygEpj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text___9W1O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__vozse:global(.__wab_instance) {
  position: relative;
}
.svg__pSxgr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ggkJn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__inTYk {
  position: relative;
  flex-direction: row;
  display: none;
  padding: 32px;
}
.freeBox__inTYk > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__inTYk > :global(.__wab_flex-container) > *,
.freeBox__inTYk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__inTYk > :global(.__wab_flex-container) > picture > img,
.freeBox__inTYk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__abAMy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cIjM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uEw2T {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__xuatH {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___4ZhD:global(.__wab_instance) {
  position: relative;
}
.productCard8:global(.__wab_instance) {
  position: relative;
}
.svg___2OM0S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dYAh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uamnv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__iHLvY {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__luH1F:global(.__wab_instance) {
  position: relative;
}
.productCard9:global(.__wab_instance) {
  position: relative;
}
.svg__p4IeF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kG5Na {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fcZi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__d7B0A {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___9772J:global(.__wab_instance) {
  position: relative;
}
.productCard10:global(.__wab_instance) {
  position: relative;
}
.svg__uQw6Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qEsa9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vNfp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3YqbV {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__kHbMn:global(.__wab_instance) {
  position: relative;
}
.productCard11:global(.__wab_instance) {
  position: relative;
}
.svg__lg5Oy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qf7Lz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hQkmY {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___4Fs4J {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__zSwCr:global(.__wab_instance) {
  position: relative;
}
.productCard12:global(.__wab_instance) {
  position: relative;
}
.svg__jsCfa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xXmPs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xfGQc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6BTo {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating___8Jm66:global(.__wab_instance) {
  position: relative;
}
.section__knzPy {
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1587px;
  width: 100%;
  min-width: 0;
  display: none;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sUhQ6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sUhQ6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sUhQ6 > :global(.__wab_flex-container) > *,
.freeBox__sUhQ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sUhQ6 > :global(.__wab_flex-container) > picture > img,
.freeBox__sUhQ6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__lbfDl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__u2DYi:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___1A7Pa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__w3G2D {
  height: auto;
}
.svg__u8AwJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0PWnm:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__y9Yps {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8APqX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fcw9W:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__xe3W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__peCUs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__utVs:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__cq3BR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fTw9O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gRxji:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__owkP8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__taVqd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__joBcI:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fwMMe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__g1ISx {
  height: auto;
}
.svg__as44 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__hfMa2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__hfMa2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hfMa2 > :global(.__wab_flex-container) > *,
.freeBox__hfMa2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hfMa2 > :global(.__wab_flex-container) > picture > img,
.freeBox__hfMa2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hfMa2 > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard13:global(.__wab_instance) {
  position: relative;
}
.svg__hEl2W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dPpzj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ppeub {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jdp21 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__fJkBj:global(.__wab_instance) {
  position: relative;
}
.productCard14:global(.__wab_instance) {
  position: relative;
}
.svg__cYuZh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rnwgF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nvB2S {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aT2Ok {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__rPs9P:global(.__wab_instance) {
  position: relative;
}
.productCard15:global(.__wab_instance) {
  position: relative;
}
.svg__fmkvC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bD5Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ueOmX {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bQsq4 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___0Uias:global(.__wab_instance) {
  position: relative;
}
.productCard16:global(.__wab_instance) {
  position: relative;
}
.svg__l0O9G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pFks {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pZgyj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uge9H {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__kdlf1:global(.__wab_instance) {
  position: relative;
}
.productCard17:global(.__wab_instance) {
  position: relative;
}
.svg__sfAp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__abAbC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qA4Yq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__iw1K {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__xRr1B:global(.__wab_instance) {
  position: relative;
}
.productCard18:global(.__wab_instance) {
  position: relative;
}
.svg__l5Djh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kK2H2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__soJid {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jMsFl {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___0Lhm8:global(.__wab_instance) {
  position: relative;
}
.productCard19:global(.__wab_instance) {
  position: relative;
}
.svg__jE1X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xuRzi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___0ZqmC {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__n2Uyw {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___3SxIc:global(.__wab_instance) {
  position: relative;
}
.productCard20:global(.__wab_instance) {
  position: relative;
}
.svg__bmyGf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__njJE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__q30Sg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__g52Ir {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__t7S:global(.__wab_instance) {
  position: relative;
}
.productCard21:global(.__wab_instance) {
  position: relative;
}
.svg___5U0Uj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__byvp9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sqcbF {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sqT {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__gGy9A:global(.__wab_instance) {
  position: relative;
}
.productCard22:global(.__wab_instance) {
  position: relative;
}
.svg__tf9W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cyuYy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__smRrC {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1Lq1 {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__berMz:global(.__wab_instance) {
  position: relative;
}
.productCard23:global(.__wab_instance) {
  position: relative;
}
.svg__eWHb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__drpel {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qFuDk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__f37Wm {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__bmRxK:global(.__wab_instance) {
  position: relative;
}
.productCard24:global(.__wab_instance) {
  position: relative;
}
.svg__vmuJe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0LCgp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__t7Pzc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__muNti {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__f6Onj:global(.__wab_instance) {
  position: relative;
}
.section__acIiD {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 {
  --plsmc-rc-col-gap: 0px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oYt03 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__czaeF:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__czaeF:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__u7Wfv {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__fDxRg {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__q16Sn:global(.__wab_instance) {
  position: relative;
}
.svg__rf8Nc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d4JbB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qXMv0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___4JP2:global(.__wab_instance) {
  position: relative;
}
.svg__x4VfC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qFrV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__gScDh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__m8DeL:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__m8DeL:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__rj6Mh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___1MKnm {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___5NAk:global(.__wab_instance) {
  position: relative;
}
.svg__oWpfA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__omPuP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s0XkD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__u7Ret:global(.__wab_instance) {
  position: relative;
}
.svg__olmDp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tqcay {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__z8Gk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__irAiO:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__irAiO:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__mb6Vm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___8WVyu {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__qtQ7U:global(.__wab_instance) {
  position: relative;
}
.svg__lvasX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lrO3I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jPSd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__xquaQ:global(.__wab_instance) {
  position: relative;
}
.svg__pr2Cq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rqeB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__mCt9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__xOdV7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__xOdV7:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__arc6E {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__uHsGg {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___5Mmzp:global(.__wab_instance) {
  position: relative;
}
.svg__iLbXy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cCxqE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eiJi8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__qfGr1:global(.__wab_instance) {
  position: relative;
}
.svg__cZfGs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___93DRe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
